# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/

# PyTorch model caches
*.pth
*.pt

# Virtual environment
/.venv

# VSCode
.vscode/

# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build output
dist/
build/

# Images and outputs
output.jpg
*.png
